@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background-color: #FEFCFD;
  margin: 0px;
  font-family:  'Josefin Sans', sans-serif !important;
  color: #000505;
}

i {
  color: #3B3355;
  text-decoration: underline;
}

a {
 color: #3B3355;
 text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.first {
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.second {
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.third {
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.contact-link:hover {
  text-decoration: none;
}

.active {
  color: #BFCDE0;
}

.welcome-img {
  height: 100%;
  width: 100%;
}

.header {
  background-color: #59656F;
  height: 53px;
  text-align: center;
  line-height: 60px;
  font-size: 20pt;
  box-shadow: 0px 4px 6px #BFCDE0;
}

.content {
  margin: 30px;
  margin-top: 10px;
}

.nav-link {
  margin-left: 0.6em;
}

.mainscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.textbyimage > *{
  float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.bigtext {
  margin: 5px;
  font-size: 23pt;
  display: block;
  width: 140px;
}

.notsobigtext {
  font-size: 18pt;
  margin-top: 20px;
}

.left-text {
  text-align: right;
}

.right-text {
  text-align: right;
}

.middle-text {
  text-align: center;
}

.dialog {
  margin-bottom: 10px;
  /* font-size: 20pt; */
}

.welcome {
  font-size: 26pt;
  margin-bottom: 10px;
}

.spacer-small {
  background-color: #59656F;
  height: 9px;
  margin: 10px;
}

.spacer {
  background-color: #59656F;
  height: 18px;
  margin: 20px;
}

.image {
  width: 100px;
  height: 100px;
  background-color: orange;
}

.svg-viewer {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
}

#bubbleChart {
  margin: 0;
}

.contact {
  margin: 10px;
}

.bottom {
  text-align: center;
}

.background {
  z-index: -1;
  position: fixed;
  background-color: red;
  width: 50vh;
  height: 90vh;
  margin: 0;
}

.disabled {
  display: none;
}

.masonry {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.project-media {
}

.project {
  width: 300px;
  text-align: left;
}

.project-image{
  width: 100%;
  height: auto;
}

.project-description {
  font-size: 20pt;
  margin: 0px;
  margin-left: 15px;
}

.project-title {
  font-size: 20pt;
}

.project-video {
  width: 100%;
}

.btn {
  background-color: #59656F;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #BFCDE0;
  box-shadow: 3px 3px 6px black;
}

.btn:hover {
  color: #3B3355;
}

.btn:active {
  box-shadow: 3px 3px 6px #34D1BF;
}

@media only screen and (min-width: 700px) {
  .svg-viewer {
    margin: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .left-text {
    text-align: left;
  }
  .dialog {
    margin-bottom: 20px;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale( .82);
  }

  50% {
    transform: scale( 1);
  }

  100% {
    transform: scale( .82);
  }
}

#heart {
  -webkit-animation:heartbeat 1s infinite;
  -moz-animation:heartbeat 1s infinite;
  animation: heartbeat 1s infinite;
}

@media only screen and (min-width: 450px) {
  .svg-viewer {
    margin: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .image {
    width: 200px;
    height: 200px;
  }
  .bigtext {
    margin: 5px;
    font-size: 36pt;
    display: block;
    width: 201px;
  }
}
